*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #111;
  font-size: 120%;
  text-align: center;
  padding: 40px;
  transition: background 0.3s, color 0.3s;
}

select {
    font-size: 100%;
    border-radius: 8px;
}

.dark-mode {
  background-color: #111;
  color: #eee;
}

.container {
  position: relative;
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-size: 160%;
}

.mode-wrapper {
    position: absolute;
    font-size: 2em;
    right: 15px;
    top: 15px;
}

#mode {
  display: none;
}

.dark-mode .container {
  background: #222;
  color: #eee;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

textarea {
  width: 100%;
  height: 200px;
  margin: 20px 0;
  padding: 10px;
  font-size: 100%;
  border-radius: 8px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 100%;
}

#qrcode canvas {
  margin-top: 20px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#downloadBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    font-size: 120%;
    color: #fafafa;
    border-radius: 16px;
}
